@font-face {
  font-family: 'JordOFF';
  src:  url('fonts/JordOFF.eot?ykbk6u');
  src:  url('fonts/JordOFF.eot?ykbk6u#iefix') format('embedded-opentype'),
    url('fonts/JordOFF.ttf?ykbk6u') format('truetype'),
    url('fonts/JordOFF.woff?ykbk6u') format('woff'),
    url('fonts/JordOFF.svg?ykbk6u#JordOFF') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'JordOFF' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jo-map-pin:before {
  content: "\e92f";
}
.jo-star:before {
  content: "\e92b";
}
.jo-minus:before {
  content: "\e917";
}
.jo-arrow-down:before {
  content: "\e927";
}
.jo-arrow-left:before {
  content: "\e900";
}
.jo-arrow-up:before {
  content: "\e903";
}
.jo-arrow-rigjt:before {
  content: "\e904";
}
.jo-search:before {
  content: "\e92d";
}
.jo-star-solid:before {
  content: "\e92e";
}
.jo-plus:before {
  content: "\e930";
}
.jo-close:before {
  content: "\e931";
}
.jo-check:before {
  content: "\e932";
}
.jo-support:before {
  content: "\e90f";
}
.jo-b:before {
  content: "\e908";
}
.jo-heart:before {
  content: "\e902";
}
.jo-stats:before {
  content: "\e929";
}
.jo-chat:before {
  content: "\e92a";
}
.jo-group:before {
  content: "\e92c";
}
.jo-a:before {
  content: "\e91d";
}
.jo-eye-off:before {
  content: "\e91e";
}
.jo-eye:before {
  content: "\e91f";
}
.jo-lock:before {
  content: "\e920";
}
.jo-at:before {
  content: "\e921";
}
.jo-rub:before {
  content: "\e922";
}
.jo-mobile:before {
  content: "\e923";
}
.jo-user:before {
  content: "\e924";
}
.jo-basket:before {
  content: "\e925";
}
.jo-heart-solid:before {
  content: "\e926";
}
.jo-bell:before {
  content: "\e928";
}
.jo-promocode:before {
  content: "\e91b";
}
.jo-play:before {
  content: "\e919";
}
.jo-youtube:before {
  content: "\e901";
}
.jo-tiktok:before {
  content: "\e910";
}
.jo-facebook:before {
  content: "\e911";
}
.jo-vk:before {
  content: "\e912";
}
.jo-instagram:before {
  content: "\e913";
}
.jo-telegram:before {
  content: "\e914";
}
.jo-twitter:before {
  content: "\e915";
}
.jo-pintrest:before {
  content: "\e916";
}
.jo-options:before {
  content: "\e905";
}
.jo-more-horizontal:before {
  content: "\e907";
}
.jo-more-vertical:before {
  content: "\e909";
}
