@font-face {
    font-family: 'Congenial';
    src: url('Congenial_Hairline.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Congenial';
    src: url('Congenial_Hairline_Italic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Congenial';
    src: url('Congenial_Thin.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Congenial';
    src: url('Congenial_Thin_Italic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Congenial';
    src: url('Congenial_ExtraLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Congenial';
    src: url('Congenial_ExtraLight_Italic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Congenial';
    src: url('Congenial_Light.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Congenial';
    src: url('Congenial_Light_Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Congenial';
    src: url('Congenial_Regular.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Congenial';
    src: url('Congenial_Regular_Italic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Congenial';
    src: url('Congenial_Medium.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Congenial';
    src: url('Congenial_Medium_Italic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Congenial';
    src: url('Congenial_Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Congenial';
    src: url('Congenial_Bold_Italic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Congenial';
    src: url('Congenial_Black.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Congenial';
    src: url('Congenial_Black_Italic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Congenial';
    src: url('Congenial_Heavy.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Congenial';
    src: url('Congenial_Heavy_Italic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Congenial';
    src: url('Congenial_UltraLight.otf') format('opentype');
    font-weight: 250;
    font-style: normal;
}

@font-face {
    font-family: 'Congenial';
    src: url('Congenial_UltraLight_Italic.otf') format('opentype');
    font-weight: 250;
    font-style: italic;
}